$primary: #19a3a6;
$primary-lighter: #ECF4F6;
$primary-darker: #335560;

$secondary: #fff;
$secondary-lightest: #ededed;
$secondary-light: #dadada;
$secondary-light-one: #ccc;
$secondary-light-two: #999;
$secondary-dark-one: #666;

$tertiary: #707070;
$tertiary-lighter: #C8C8C8;
$tertiary-darker: #111827;

// Common colors
$link: #007faf;

